body {
	background-color:#204060; color:white;
}

.navbar {
	display: inline;
}

.navbrand {
  	font-family:'Mansalva', cursive; 
	font-size:20px;
	color:white;
	padding:14px;
	margin:0;
	top:0;
	width:100%;
	text-decoration: none;
}

ul {
  	list-style-type: none;
  	margin:0;
  	padding:0;
  	overflow: hidden;
  	position:fixed;
  	top:0;
  	width:100%;
  	background-color: #204060;
 
 }

li {
	display: inline;
	float:left;

}

li a {
	display:block;
	padding: 14px;
	color:white; 
	font-family:'Poiret One', cursive;
	font-size:20px;
	text-decoration: none;
	opacity:0.5;
}

li a:hover {
  color: #d9b3ff;
  font-weight: bold;
  opacity:1;
}


h2 {
	text-align:center;
	font-family:'Poiret One', cursive;
}

h3, h4 {
	text-align:center; 
	font-family:'Josefin Slab', serif; 
	font-size:20px;
	color:white; 
}

p {
	font-family:'Josefin Slab', serif;
	font-size:15px;
	line-height:1;
}


#about, #music {
	font-family: verdana;
	font-size: 10px;
	color:gray;
}

.song {
	border: 3px solid #e6b800;
  	padding: auto;
  	overflow:auto;
}

.video {
	float:left;
	margin: 10px;
}

.lyrics {
	margin: auto;
	text-align: center;
}

.twocovers {
	margin:auto;
}
