body {
	background-color:#204060; color:white;
}

h1 {
  	text-align:center; 
  	font-family:baskerville; 
	font-size:60px;
	color:white; 
	background-color:#e6b800; 
	padding:10px;
}

h3 {
	text-align:center; 
	font-family:baskerville; 
	font-size:20px;
	color:white; 
}

p {
	font-family:arial;
	font-size:15px;
}
#bar {
	background-color:#9f9fdf; 
	padding:10px; 
	text-align:center;

}

.navlinks {
	background-color:#2d5986; 
	padding:5px 5px 5px 5px; 
	color:white; 
	font-family:arial;
}

#about, #music {
	font-family: verdana;
	font-size: 10px;
	color:gray;
}

.video {
	float:left;
	margin: 10px;
}

.song {
	border: 3px solid #e6b800;
  	padding: auto;
}

.lyrics {
	margin: auto;
}
