body {
	background-color:#204060; color:white;
}

h1 {
  	text-align:center; 
  	font-family:'Mansalva', cursive; 
	font-size:60px;
	color:white; 
	background-color:#e6b800; 
	padding:20px;
}

h2 {
	text-align:center;
	font-family:'Poiret One', cursive;
}

h3, h4 {
	text-align:center; 
	font-family:'Josefin Slab', serif; 
	font-size:20px;
	color:white; 
}

p {
	font-family:'Josefin Slab', serif;
	font-size:15px;
	line-height:1;
}

#bar {
	background-color:#9f9fdf; 
	padding:10px; 
	text-align:center;

}

.navlinks {
	background-color:#2d5986; 
	padding:5px 5px 5px 5px; 
	color:white; 
	font-family:'Poiret One', cursive;
	font-size:20px;
}

#about, #music {
	font-family: verdana;
	font-size: 10px;
	color:gray;
}

.song {
	border: 3px solid #e6b800;
  	padding: auto;
  	overflow:auto;
}

.video {
	float:left;
	margin: 10px;
}

.lyrics {
	margin: auto;
	text-align: center;
}

.twocovers {
	margin:auto;
}
